.app.dark {
    --bg-color: rgb(32, 32, 32);
    --inverted-bg-color: rgb(255, 255, 255);
    
    --primary-color: #fb0000;
    --secondary-color: #710000;
    --inverted-primary-color: #4c00fd;
    --inverted-secondary-color: #836ad5;
}